.mobile-side-menu-wrapper {
    display: none;
}

@media screen and (max-width: 887px) {
    .mobile-side-menu-wrapper {
        position: fixed;
        display: flex;
        justify-content: end;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: hsla(0, 0%, 8%, 92%);
        z-index: 10;
        transition: all 0.8s ease-out;
    }

    .mobile-side-menu {
        width: 65%;
        height: 100%;
        background-color: hsl(0, 0%, 98%);
        padding-top: 15%;
        padding-left: 5%;
        padding-right: 5%;
        transition: width 0.9s ease-in-out;
        animation-name: open;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
    }

    .mobile-side-menu-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .mobile-side-menu-items > * {
        margin: 15px 0;
    }

    .mobile-side-menu-items a {
        text-decoration: none;
        font-size: 14px;
        color: hsl(0, 0%, 41%);
    }

    .mobile-side-menu-items a:hover {
        color: hsl(0, 0%, 8%);
    }


}

@keyframes open {
    from {
        width: 0;
    }
    to {
        width: 65%;
    }
}