.menu-icon {
    display: none;
    z-index: 100;
}

.menu-icon img {
    position: absolute;
    top: 25px;
    right: 8%;
    cursor: pointer;
}

.menu-icon.active {
    position: fixed;
    top: 0;
    right: 8%;
    cursor: pointer;
}


@media screen and (max-width: 887px) {
    .menu-icon {
        display: flex;
    }
}