@font-face {
    font-family: 'Epilogue';
    src: url('./assets/fonts/Epilogue-Bold.ttf'), url("./assets/fonts/Epilogue-Medium.ttf"), url("./assets/fonts/Epilogue-Regular.ttf");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
}